
  @import url('https://fonts.googleapis.com/css2?family=Bigelow+Rules&family=Catamaran:wght@300&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:wght@300&family=Rubik:wght@400;500;600;700&display=swap');

html,
body,
#root,
.app {
  height:100%;
  width:100%;
  font-family:"Inter",sans-serif;
  overflow-x: hidden;
  font-size:15px;
  margin:0;
  padding:0;
}